<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Goal game</title>
		 <script data-main="/static/js/main" src="/static/js/lib/require.js"></script>
		 <link rel="stylesheet" href="/static/css/style.css">
		 <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1>Soccer game</h1>
			<br>
			<p class="bg-primary">Offline game against robot.</p>
			<a class="btn btn-primary" href="/offline" role="button">Offline game</a>
			<br><br>
			<p class="bg-success">Online game against partner.</p>
			<a class="btn btn-success btn-enter" role="button">Enter a room</a>
			<br><br>
			<br><br>
			<div class="pull-right copy">by <img src="/static/img/nf.jpg" class="img-nf"> team</div>
		</div>
	</body>
</html>
